@width: 1920px;
@border: 1px solid black;

.container {
  width: @width;
  margin: 0 auto;
  border: @border;
}

.header {
  background: url(../img/bg_photo_header.png) 100% no-repeat;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

.header-topline {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-topline-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
}

.header-topline-logo-icon {
  fill: #fff;
  width: 64px;
  height: 56px;
}

.header-topline-logo-txt {
  margin-left: 0 219px 0 0;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #fff;
}
