@width: 1920px;
@border: 1px solid black;

.container {
  width: @width;
  margin: 0 auto;
  border: @border;
}

.header {
  background: url(../img/bg_photo_header.png) 100% no-repeat;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  &-topline {
    width: 100%;
    display: flex;
    justify-content: center;
    &-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      text-transform: capitalize;
      &-icon {
        fill: #fff;
        width: 64px;
        height: 56px;
      }
      &-txt {
        margin: 0 219px 0 0;
        font-size: 34px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.04em;
        color: #fff;
      }
    }
    &-navigation {
      display: flex;
      &-item {
        display: flex;
        margin: 0 30px 0 0;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #fff;
        align-items: center;
      }
      &-item:nth-child(2) {
        color: #c7b299;
      }
    }
    &-button-basket {
      border: none;
      background-color: transparent;
      outline: none;
      padding: 0;
    }
    &-button-basket svg {
      fill: #fff;
      width: 18px;
      height: 24px;
    }
    &-search {
      margin: 0 0 0 30px;
      padding: 15px 0 0 0;
    }
  }
  &-carusel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    &-slider-left {
      display: block;
    }
    &-slider-left svg {
      fill: #fff;
      opacity: 0.5;
      width: 40px;
      height: 73px;
      margin: 0 476px 0 0;
    }
    &-text {
      display: flex;
      flex-wrap: wrap;
      width: 590px;
    }
    &-text-slogan {
      font-size: 36px;
      line-height: 1.2;
      font-weight: 500;
      text-transform: capitalize;
    }
    &-text-title {
      font-size: 52px;
      line-height: 1.2;
      font-weight: 800;
      text-transform: capitalize;
    }
    &-text-txt {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      text-transform: capitalize;
    }
    &-button-getstarted{
      width: 170px;
      display: flex;
      border: none;
      border-bottom: 3px solid #736357;
      border-radius: 10px;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      background-color: #998675;
      color: #fff;
      word-break: break-all;
      &-txt {
        margin: auto;
      }
    }
    &-slider-right {
      display: block;
    }
    &-slider-right svg {
      fill: #fff;
      opacity: 0.5;
      width: 40px;
      height: 73px;
      margin: 0 0 0 476px;
    }
    &-pagination {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

input[type="search"] {
  width: 24px;
  height: 24px;
  outline: none;
  background-image: url(../img/icon_search.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

input[type="search"]:focus {
  width: 300px;
  transition: width 1s ease-out;
  background-position: right;
  border: 1px solid gray;
}
