@width: 1920px;
@border: 1px solid black;

.container {
  width: @width;
  margin: 0 auto;
  border: @border;
}

.header {
  background: url(../img/bg_photo_header.png) 100% no-repeat;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
}
